singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '--bind /hpcnfs/ --bind /hpcscratch/ --bind /beegfs/'

manifest {
    name            = 'clam-mitogenome-pipeline'
    description     = 'Nextflow pipeline for mitochondrial genome analysis from human WGS/WES-derived data'
    homePage        = 'https://github.com/aledavini7/clam-mitogenome-pipeline'
    mainScript      = 'clam.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.2'
    author          = 'Alessandro Davini'
}

process.executor = 'slurm'
process.scratch = '/beegfs/scratch/ieo5898/'

workDir = '/hpcscratch/ieo/ieo5898/clam-mitogenome-pipeline-work'

params {
    input           = null
    input_type      = null
    analysis_mode   = 'wgs_numt_correction'
    outdir          = 'results'

    classifier      = '/opt/clam/share/mitoscape/MitoScapeClassify.jar'
    mitomap         = '/opt/clam/share/mitoscape/mitomap.ld'
    model           = '/opt/clam/share/mitoscape/MTClassifierModel.RF'
    haplogrep       = '/usr/local/bin/haplogrep3'
    haplogrep_tree  = 'phylotree-rcrs@17.2'
    mutserve        = '/usr/local/bin/mutserve'
    annotation      = '/opt/clam/mutserve/rCRS_annotation_2020-08-20.txt'

    clam_container     = 'docker://ghcr.io/aledavini7/clam-core:0.1.2'
    mitoscape_container = 'docker://ghcr.io/aledavini7/clam-mitoscape:0.1.0'
    mutect2_container  = 'docker://ghcr.io/aledavini7/clam-mutect2:0.1.0'
    annotation_container = 'docker://ghcr.io/aledavini7/clam-annotation:0.1.1'

    annotation_high_depth = 100
    annotation_medium_depth = 30
    annotation_high_alt_reads = 10
    annotation_medium_alt_reads = 3
    annotation_max_af_discordance = 0.10
    maf_center = 'CLAM'
    maf_ncbi_build = 'rCRS'
    mitomap_variant_table = null
    mitomap_keep_columns = 12
    report_mt_length = 16569
}

includeConfig 'conf/genomes.config'

process {
    cpus = 1
    memory = 4.GB
    container = params.clam_container

    withName: 'bam2fqgz' {
        cpus = 2
    }

    withName: 'alignment_MT' {
        cpus = 12
        memory = 40.GB
    }

    withName: 'get_the_MD' {
        cpus = 2
    }

    withName: 'bam2fq' {
        cpus = 2
    }

    withName: 'alignment_Nuc' {
        cpus = 12
        memory = 40.GB
    }

    withName: 'mitoscape' {
        container = params.mitoscape_container
        cpus = 5
        memory = 20.GB
    }

    withName: 'mutect2' {
        container = params.mutect2_container
    }

    withName: 'filter_mutect2' {
        container = params.mutect2_container
    }

    withName: 'merge_variant_calls' {
        container = params.annotation_container
    }

    withName: 'annotation_mafs' {
        container = params.annotation_container
    }

    withName: 'mitomap_annotation' {
        container = params.annotation_container
    }

    withName: 'build_report' {
        container = params.annotation_container
    }

}
