singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '--bind /hpcnfs/ --bind /hpcscratch/ --bind /beegfs/'

process.executor = 'slurm'
process.scratch = '/beegfs/scratch/ieo5898/'

workDir = '/hpcscratch/ieo/ieo5898/clam-mitogenome-pipeline-work'

params {
    input           = null
    input_type      = null
    genome          = 'GRCh38'
    outdir          = 'results'

    classifier      = '/opt/clam/share/mitoscape/MitoScapeClassify.jar'
    mitomap         = '/opt/clam/share/mitoscape/mitomap.ld'
    model           = '/opt/clam/share/mitoscape/MTClassifierModel.RF'
    haplogrep       = '/usr/local/bin/haplogrep3'
    haplogrep_tree  = 'phylotree-rcrs@17.2'
    mutserve        = '/usr/local/bin/mutserve'
    annotation      = '/opt/clam/mutserve/rCRS_annotation_2020-08-20.txt'

    clam_container     = 'docker://ghcr.io/aledavini7/clam-core:0.1.0'
    mutect2_container  = 'docker://alessandrodavini7/clam_mutect2-image:latest'
}

includeConfig 'conf/genomes.config'

process {
    cpus = 1
    memory = 4.GB
    container = params.clam_container

    withName: 'bam2fqgz' {
        cpus = 2
    }

    withName: 'alignment_MT' {
        cpus = 12
        memory = 40.GB
    }

    withName: 'get_the_MD' {
        cpus = 2
    }

    withName: 'bam2fq' {
        cpus = 2
    }

    withName: 'alignment_Nuc' {
        cpus = 12
        memory = 40.GB
    }

    withName: 'mitoscape' {
        cpus = 5
        memory = 20.GB
    }

    withName: 'mutect2' {
        container = params.mutect2_container
    }

}
