params.genomes = [
    GRCh38: [
        run_numt_correction: true,
        datadir            : '/opt/clam/share/gsnap',
        mt_gsnap_db        : 'rCRS_gsnap',
        fasta              : '/hpcnfs/scratch/ED/genome/mitochondrion/rCRS.fa',
        mutserve_fasta     : '/opt/clam/share/reference/rCRS_NC_012920.1.fasta',
        mt_contig          : 'NC_012920.1',
        genomedir          : '/hpcnfs/scratch/ED/genome/hg38_nuc_only/hg38_gsnap',
        nuc_gsnap_db       : 'hg38_gsnap',
        numt               : '/opt/clam/share/mitoscape/NUMTs_hg38.txt'
    ],

    GRCh37: [
        run_numt_correction: true,
        datadir            : '/opt/clam/share/gsnap',
        mt_gsnap_db        : 'rCRS_gsnap',
        fasta              : '/hpcnfs/scratch/ED/genome/mitochondrion/rCRS.fa',
        mutserve_fasta     : '/opt/clam/share/reference/rCRS_NC_012920.1.fasta',
        mt_contig          : 'NC_012920.1',
        genomedir          : '/hpcnfs/scratch/ED/genome/hg19_nuc_only/hg19_gsnap',
        nuc_gsnap_db       : 'hg19_gsnap',
        numt               : '/hpcnfs/scratch/ED/davini/analysis/Mito-snake/src/universal/NUMTs_hg19.txt'
    ],

    rCRS: [
        run_numt_correction: false,
        datadir            : '/opt/clam/share/gsnap',
        mt_gsnap_db        : 'rCRS_gsnap',
        fasta              : '/hpcnfs/scratch/ED/genome/mitochondrion/rCRS.fa',
        mutserve_fasta     : '/opt/clam/share/reference/rCRS_NC_012920.1.fasta',
        mt_contig          : 'NC_012920.1',
        genomedir          : null,
        nuc_gsnap_db       : null,
        numt               : null
    ]
]

def genome_aliases = [
    'grch38': 'GRCh38',
    'hg38'  : 'GRCh38',
    'grch37': 'GRCh37',
    'hg19'  : 'GRCh37',
    'rcrs'  : 'rCRS'
]

def requested_genome = (params.genome ?: 'GRCh38').toString()
def selected_genome = genome_aliases[requested_genome.toLowerCase()]

if (selected_genome && params.genomes[selected_genome]) {
    def selected = params.genomes[selected_genome]

    params.genome = selected_genome
    params.run_numt_correction = selected.run_numt_correction
    params.datadir = selected.datadir
    params.mt_gsnap_db = selected.mt_gsnap_db
    params.fasta = selected.fasta
    params.mutserve_fasta = selected.mutserve_fasta
    params.mt_contig = selected.mt_contig
    params.genomedir = selected.genomedir
    params.nuc_gsnap_db = selected.nuc_gsnap_db
    params.numt = selected.numt
}
